* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

/* body-style */

body {
  margin: 0px;
  font-family: 'poppins';
  word-spacing: 2px;
}

/* nav-bar */

nav {
  width: 100%;
  height: 90px;
  background-color: #1f2235;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

nav img {
  width: 32%;
  margin-left: 25%;
  margin-right: 100px;
}
.logo{
  margin-right: 150px;
}

.nav-bar {
  list-style: none;
  margin-right: 100px;
}

.nav-list {
  /* justify-content: space-between; */
  text-decoration: none;
  display: inline-block;
  text-align: left;
  padding: 0px 20px;
  font-weight: 500;
  font-size: larger;
   
}

.nav-list  a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 90px;
  font-stretch: semi-expanded;
    }
.nav-list a:hover{
  color: #FF4A57;
  transition: .4s;
}

/* home-section */
a{
  color: whitesmoke;
  text-decoration: none;
}
.home-section {
  background-color:  #24263B;
    padding: 100px 0px 0px 100px;
}
#social-container{
  color: whitesmoke;
  display: flex;
}



.home-section h1{
padding-top: 30px;
font-size: 60px;
font-family: poppins;
font-weight: 700;

}

.home-icon-btn-flex {
  display: flex;
  gap: 10px;
  padding-top: 50px;
  margin-top: 70px;
}
.home-icon-btn {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-color: #FF4A57;
  border-radius: 50%;
  background-color: #202235;
}

.home-icon-btn i {
  font-size: 20px;
  padding: 13px;
}


.home-section{
  padding-top: 70px;
  padding-bottom: 0px;
}
.intro-text{
  text-align: left;
  font-family:  poppins;
 font-size: 25px;
 line-height: 40px;
  
  
    
}
.profile-image{
  padding-right: 100px;
}
.profile-image img{
  
  width: 520px;
}

.my-portfolio {
  border: 2px solid;
  border-radius: 50px;
  font-size: 14px;
  border-color: #FF4A57;
  padding: 1px 30px 1px 30px;
  font-family: poppins;
  font-size: 20px;
  }
  .my-portfolio:hover {
    background-color: #FF4A57;
  }
.portfolio {
  margin-top: 7px;
  text-align: center;
}

.portfolio{
  font-size: 16px;
  font-weight: 500;
}
  .btns {
    display: flex;
    padding-top: 50px;
  }
.youtube-btn {
  background-color: #FF4A57;
  width: 100px;
  height: 45px;
  border-radius: 50px;
  transition: transform .4s;
  margin-left: 30px;

}

.youtube-btn:hover {
  transform: scale(1.1);
}
  .btn-youtube{
    font-size: 35px;
    margin: 40px;    
    }
    

  /* service-section */
  
   
  
#service-section{
  background-color: #202235;
  width: 100%;
  height: 100%x;
  padding: 100px 0px;
  color: whitesmoke;
}
.service-title {
  text-align: center;
}
.service-title h4 {
color: #FF4A57;
}
.title {
  font-size: 75px;
  font-weight: 700;
  margin: 30px auto;
}

#line {
  position: absolute;
  background-color: #ff4a57;
  width: 80px;
  height: 5px;
  left: 45.5%;
  margin: 20px;

}

#service-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 100px;
}

.box {
  background-color: #242639;
  width: 350px;
  height: 300px;
  border-radius: 20px;
  padding: 30px;
}
.box-icon{
  font-size: 25px;
}
.box-icon i {
  color: #FF4A57;
}
.box, .box-icon {
  margin-top: 20px;
  margin-bottom: 30px;
}

.box-paragraph {
  margin-top: 20px;
}

.box:hover {
  background-color: #FF4A57;
  color: white;
  transition: .4s;
}


#about-me {
  background-color: #242639;
  width: 100%;
  height: 1150px;
  padding: 100px 0px;
  color: whitesmoke;
}

.about-title {
  text-align: center;
}
.about-article {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  padding: 100px;
}
#about-image {
  width: 480px;
}

.article-about-me {
  padding-top: 60px;
}

.article-about-me h2{
  margin-bottom: 30px;
}

.article-about-me p {
  line-height: 35px;
}

.contact-details-head {
  font-weight: bolder;
  color: #FF4A57;
}

.flex {
  display: flex;
}

.phone{
  margin-left: 200px;
  padding-bottom: 30px;
}

.linkedin {
  margin-left: 125px;

}


  /* Skill-Section */


#skill-section{
  background-color: #202235;
  width: 100%;
  height: 800px;
  padding: 100px 0px 0px 100px;
  color: whitesmoke;
}
.skill-container {
  display: flex;
}

.skill-container-title {
  margin-right: 100px;
  margin-left: 30px;
}

.skill-container-title h4 {
  color: #FF4A57;
}

.skill-box {
  margin: 40px;
}

.skill-title h4 {
color: #FF4A57;
}
.skill-title-head {
  font-size: 75px;
  font-weight: 700;
  margin: 30px auto;
}

#skill-paragraph {
  line-height: 35px;
}

.hire-btn {
  width: 180px;
  height: 60px;
  border: 2px solid;
  border-radius: 50px;
  font-size: 14px;
  border-color: #FF4A57;
  padding: 10px;
  font-family: poppins;
  font-size: 20px;
  }
.hire-me {
  margin-top: 5px;
  text-align: center;
}

.skill-progress-box {
  padding-right: 50px;
  padding-top: 80px;
}

.skill-progress {
  width:700px;
  height: 500px;
}

.skill-bar {
  height: 8px;
  width: 100%;
  margin-top: 6px;
  background: #242639;
}

.skill-per-node-js {
  position: relative;
  display: block;
  height: 100%;
  width: 88%;
  background: #ff4a57;
}

.skill-per-python {
  position: relative;
  display: block;
  height: 100%;
  width: 81%;
  background: #ff4a57;
}

.skill-per-laravel {
  position: relative;
  display: block;
  height: 100%;
  width: 70%;
  background: #ff4a57;
}

.skill-per-seo {
  position: relative;
  display: block;
  height: 100%;
  width: 88%;
  background: #ff4a57;
}

.grade {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  padding: 2px 6px;
  border: 2px solid;
  border-color: white;
  background: #484343;
  border-radius: 5px;
}
.grade::before {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-top-color: var(--bg);
  top: 21px;
  right: 14px;
}


/* portfolio-section */

#portfolio-section{
  background-color: #242639;
  width: 100%;
  height: 100%;
  padding: 100px 0px;
  color: whitesmoke;
}

.portfolio-title {
  text-align: center;
}
.portfolio-title p {
  line-height: 30px;
}

.portfolio-nav-bar {
  list-style: none;
  padding-top: 50px;
  text-align: center;
}

.portfolio-nav-list {
  justify-content: space-between;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;  
}

.portfolio-nav-list  a {
  text-decoration: none;
  color: whitesmoke;
  font-stretch: semi-expanded;
}
.portfolio-nav-list:hover{
    border-radius: 50px;
    background-color: #FF4A57;
    transition: .4s;
  }

.all-works{
  border: 2px solid;
  border-radius: 50px;
  border-color: #FF4A57;
}

.portfolio-img-showcase {
  display: flex;
  padding: 20px 0px 0px 120px;
}
#porfolio-imgs {
  display: grid;
  width: 350px;
  margin: 20px;
  border-radius: 10px;
}

/* Pricing plan */

#pricing-section{
  background-color: #202235;
  width: 100%;
  height: 100%;
  padding: 100px 0px;
  color: whitesmoke;
}

.pricing-title {
  text-align: center;
  margin-left: 450px;
  margin-right: 450px;
}
.pricing-title h4 {
  color: #FF4A57;
}
.pricing-title p {
  line-height: 30px;
}

.card-container {
  display: grid;
  border-radius: 10px;
  border-color: #FF4A57;
  background-color: #242639;
  width: 350px;
  height: 600px
}

.card-container2 {
  display: grid;
  border: 2px solid;
  border-radius: 10px;
  border-color: #FF4A57;
  background-color: #242639;
  width: 350px;
  height: 600px
}

.card-info {
  padding: 10%;
}

.card-textbox {
  text-align: center;
  line-height: 60px;
}

.card-textbox h3 {
   font-size: 25px;
  font-weight: 700;
}

.card-textbox .price {
   font-size: 70px;
   font-weight: 700;
   padding-right: 30px;
}

.dollar-sign {
  font-size: 25px;
  font-weight: 700;
}

.purchase-btn {
  border: 2px solid;
  border-radius: 50px;
  border-color: #FF4A57;
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
  margin-left: 60px;

  }
.purchase {
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  font-family: poppins;
}
.purchase-btn:hover {
  background-color: #FF4A57;
  transition: 0.4s;
}

.purchase-btn2 {
  background-color: #FF4A57;
  border: 2px solid;
  border-radius: 50px;
  border-color: #FF4A57;
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
  margin-left: 60px;

  }
.purchase2 {
  line-height: 50px;
  font-size: 18px;
  font-weight: 500;
  font-family: poppins;
}

.card-flex {
  display: flex;
  padding: 100px 0px 0px 100px;
  gap: 40px;
  margin-left: 50px;
}

/* Achievement */

.achievement-section {
  background-color: #242639;
  width: 100%;
  height: 100%;
  padding: 100px 0px;
  color: whitesmoke;
}

.achievement-flex {
  display: flex;
  padding: 20px 0px 0px 20px;
  gap: 200px;
  justify-content: center;
  line-height: 80px;
  font-size: 25px;
  text-align: center;
}

.ach-icons {
  font-size: 25px;
  margin-left: 35px;
}

#num-ach {
  font-size: 55px;
   font-weight: 700;
   color: #FF4A57;
}

/* Testimonial */

#testimonial-section{
  background-color: #202235;
  width: 100%;
  height: 800px;
  padding: 100px 0px 0px 100px;
  color: whitesmoke;
}


.testimonial-container-title {
  padding: 50px;
}

.testimonial-container-title h4 {
  color: #FF4A57;
}

.learn-more-btn {
  width: 180px;
  height: 60px;
  border: 2px solid;
  border-radius: 50px;
  font-size: 14px;
  border-color: #FF4A57;
  padding: 10px;
  font-family: poppins;
  font-size: 20px;
  }

.learn-more-me {
  margin-top: 5px;
  text-align: center;
}

.skill-title h4 {
color: #FF4A57;
}
.testimonial-title-head {
  font-size: 60px;
  font-weight: 700;
  margin: 30px auto;
}

#testimonial-paragraph {
  line-height: 35px;
}
.testimonial-container{
  display: flex;
  gap: 10px;
}
.quote-container {
  float: left;
  padding-right: 150px;
  margin-top: 140px;
}
.quote-box {
  background-color: #242639;
  width: 550px;
  height: 200px;
  padding: 5%;
}

.quotation {
  display: flex;
  color: #DFDFDF;
}
.quotation i {
  font-size: 40px;
}


.star-flex {
  display: flex;
  padding-left: 60px;
}

#star-icon i {
  font-size: 15px;
  color: #FF4A57;
  padding-top: 30px;
}

.client-box {
  display: flex;
  gap: 190px;
  margin-top: 40px;
}

.clint-detail {
  display: flex;
  gap: 20px;
}
.client-info {
  margin-top: 10px;
}

#client-img {
  width: 80px;
  height: 79px;
  border-radius: 50%;
  border: 3px solid;
  border-color: white;
}

.next-btn-flex {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.nextbtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid;
  border-color: white;
}

.nextbtn i {
  padding: 12px;
}

/* Logo-Section */

#logo-section {
  background-color: #242639;
  width: 100%;
  height: 100%;
  padding: 90px 0px;
}

.logo-section-flex {
  display: flex;
    margin-left: 200px;
    margin-right: 200px;
    gap: 70px;
    
}
.logo-section-flex img {
 width: 160px;
 height: 80px;
}

/* Blog-section */

#blog-section{
  background-color: #202235;
  width: 100%;
  height: 700px;
  padding: 100px 0px;
  color: whitesmoke;
}

.blog-section-title {
  text-align: center;
  margin-left: 450px;
  margin-right: 450px;
}
.blog-section-title h4 {
  color: #FF4A57;
}
.blog-section-title p {
  line-height: 30px;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 350px;
  background-color: #242639;
  border-radius: 15px;
  margin: 20px;
}

.blog-img img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  object-position: center;
}

.blog-text-box {
  padding-left: 20px;
  padding-right: 70px;
}

.blog-features {
  display: flex;
  font-size: 12px;
  gap: 14px;
}

.blog-text-flex {
  display: flex;
}


.blog-text {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}

#admin {
  color: #FF4A57;
}

.readmore {
  display: flex;
}

.readmore a {
  color: #FF4A57;
  font-weight: 600;
}

.readmore-btn {
  margin-left: 20px;
  padding-bottom: 40px;
}

.readmore-btn i {
  background-color: #FF4A57;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  color: #242639;
  font-size: 15px;
}

/* Contact-me-section */

#contactme-section{
  background-color: #202235;
  width: 100%;
  height: 100%;
  padding: 100px 0px;
  color: whitesmoke;
}

.contactme-section-title {
  text-align: center;
  margin-left: 350px;
  margin-right: 430px;
}
.contactme-section-title h4 {
  color: #FF4A57;
}
.contactme-section-title p {
  line-height: 30px;
}

.contactme-container {
  padding: 100px 0px 0px 100px;
}
.contactme-card{
  display: flex;
  padding-top: 80px;
  padding-bottom: 60px;
  gap: 30px;
}
.contactme-box {
  background-color: #242639;
  width: 380px;
  height: 120px;
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 15px;
}

.contactme-box-info {
  display: flex;
}

.contactme-box-info i {
  font-size: 30px;
  color: #FF4A57;
}

form {
  margin-right: 100px;
}

#name, #email {
    width: 48%;
    height: 56px;
    background-color:  #242639;
    border: none;
    border-radius: 5px;
}
.name-email {
  display: flex;
  justify-content: space-between;
}

#subject {
    width: 99%;
    height: 56px;
    background-color: #242639;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

#message {
    width: 99%;
    height: 200px;
    background-color: #242639;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

#email::placeholder {
  font-family: poppins;
  padding-left: 20px;
  color: whitesmoke;
}

#subject::placeholder {
  font-family: poppins;
  padding-left: 20px;
  color: whitesmoke;
}

#message::placeholder {
  font-family: poppins;
  padding-left: 20px;
  color: whitesmoke;
}
#name::placeholder {
  font-family: poppins;
  padding-left: 20px;
  color: whitesmoke;
}

#message::placeholder {
  font-family: poppins;
  padding-top: 30px;
  padding-left: 20px;
  color: whitesmoke;
}

.message-btn {
  width: 220px;
  height: 60px;
  background-color: #FF4A57;
  border-radius: 50px;
  font-size: 16px;
  padding: 10px;
  font-family: poppins;
  }
.message {
  margin-top: 5px;
  text-align: center;
}

/* Footer */

footer{
  background-color: #24263A;
  width: 100%;
  height: 550px;
  padding: 100px 0px;
  color: #DFDFDF;
}
.footer-container {
  justify-content: center;
  justify-items: center;
}

.footer-details {
  text-align: center;
  margin-left: 350px;
  margin-right: 430px;
}

.footer-details p {
  line-height: 30px;
  color: whitesmoke;
}

.contactme-container {
  padding: 100px 0px 0px 100px;
}

#footer-logo {
  width: 32%;
  padding-bottom: 30px;
}

.footer-icon-btn-flex {
  display: flex;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-top: 10px;
  justify-content: center;
  justify-items: center;
}
.footer-icon-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #202235;
}

.footer-icon-btn i {
  padding: 22px;
}

.rocket i{
  float: right;
  padding-right: 50px;
  transform: rotate(-405deg);
  font-size: 30px;
  color: #FF4A57;
  position: static;
}
.footer-d {
  align-items: center;
}
.bottom-details {
  padding-top: 50px;
}

#amike-color {
  color: #FF4A57;
}